* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: $fnt1;
    font-weight: $font-regular;
}

body {
    background-color: $bg-primary;
    overflow-x: hidden;
}

@media screen and (min-width: 1300px) {
    .container {
        max-width: 1200px;
    }
}

.max-453 {
    max-width: 453px;
}

.mb-50 {
    margin-bottom: 50px;
}



.name-text {
//   font-size: 2.5rem;
//   font-weight: bold;
  transition: opacity 0.8s ease-in-out;
}

.name-text.fade {
  opacity: 1;
  animation: fadeEffect 3s infinite;
}

@keyframes fadeEffect {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}
