
@font-face {
    font-family: 'metropolisblack';
    src: url('../../fonts/Metropolis-Black/metropolis-black.woff2') format('woff2'),
         url('../../fonts/Metropolis-Black/metropolis-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'metropolisbold';
    src: url('../../fonts/Metropolis-Bold/metropolis-bold.woff2') format('woff2'),
         url('../../fonts/Metropolis-Bold/metropolis-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'metropolisextra_bold';
    src: url('../../fonts/Metropolis-ExtraBold/metropolis-extrabold.woff2') format('woff2'),
         url('../../fonts/Metropolis-ExtraBold/metropolis-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'metropolisextra_light';
    src: url('../../fonts/Metropolis-ExtraLight/metropolis-extralight.woff2') format('woff2'),
         url('../../fonts/Metropolis-ExtraLight/metropolis-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'metropolislight';
    src: url('../../fonts/Metropolis-Light/metropolis-light.woff2') format('woff2'),
         url('../../fonts/Metropolis-Light/metropolis-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'metropolismedium';
    src: url('../../fonts/Metropolis-Medium/metropolis-medium.woff2') format('woff2'),
         url('../../fonts/Metropolis-Medium/metropolis-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'metropolisregular';
    src: url('../../fonts/Metropolis-Regular/metropolis-regular.woff2') format('woff2'),
         url('../../fonts/Metropolis-Regular/metropolis-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'metropolissemi_bold';
    src: url('../../fonts/Metropolis-SemiBold/metropolis-semibold.woff2') format('woff2'),
         url('../../fonts/Metropolis-SemiBold/metropolis-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
