.bs-card {
    &.typ-projects {
        &:hover {
            .image-box-wrapper {
                img {
                    transform: scale(1.2);
                }
            }
        }

        .image-box-wrapper {
            overflow: hidden;
            border-radius: 4px;

            img {
                object-fit: cover;
                object-position: center;
                transition: 500ms ease all;
            }
        }

        .icon-box-wrapper {
            flex: 0 0 70px;
            display: flex;
            justify-content: end;
            align-items: center;
            a {
                text-decoration: none;
            }

            .icon {
                font-size: 24px;

                &:first-child {
                    margin-right: 10px;
                }
            }
        }
    }
}
