.bs-footer {
    border-top: 1px solid $clr-white1;
    .wrapper {
        padding: 80px 0 40px;

        @media screen and (max-width: $mobile-breakpoint) {
            padding: 50px 0;
        }

        .logo-txt {
            font-weight: $font-light;
            color: $clr-white;
            font-size: 24px;
            line-height: 1.2;
            letter-spacing: 0.2px;
            margin: 0;
        }

        .contact-txt {
            font-family: $fnt1;
            font-size: 14px;
            line-height: 1.2;
            color: $clr-white;
            font-weight: $font-light;
            letter-spacing: 0.2px;
            margin: 0;

            @media screen and (max-width: $mobile-breakpoint) {
                text-align: center;
            }
        }

        .contact-box-wrapper {
            @include grid($columns: repeat(3, 1fr), $gap: 10px);
            align-items: end;
            height: 100%;

            @media screen and (max-width: $mobile-breakpoint) {
                @include grid($columns: repeat(1, 1fr), $gap: 20px);
            }

            a {
                text-decoration: none;
                .contact-box {
                    border: 1px solid $clr-white1;
                    border-radius: 4px;
                    padding: 15px 35px;
                    display: flex;
                    align-items: center;
                    grid-gap: 10px;
                    justify-content: center;

                    .icon {
                        font-size: 20px;
                    }

                    .txt-icon {
                        font-family: $fnt1;
                        font-size: 16px;
                        font-weight: $font-light;
                        line-height: 1;
                        color: $clr-white1;
                        letter-spacing: 0.2px;
                    }
                }

                &:hover {
                    .contact-box {
                        border-color: $clr-blue;
                    }

                    .txt-icon {
                        color: $clr-blue;
                    }

                    .icon {
                        &::before {
                            color: $clr-blue;
                        }
                    }
                }
            }
        }

        .copyright-text {
            .bs-para {
                a {
                    position: relative;
                    &:after {
                        content: "";
                        display: inline-block;
                        width: 25px;
                        height: 25px;
                        background-image: url($avatar-img);
                        background-position: center;
                        background-size: 100%;
                        background-color: $clr-white;
                        border-radius: 100%;
                        position: absolute;
                        left: calc(100% + 5px);
                        top: -30px;
                        opacity: 0;
                        transition: 1s ease all;
                    }

                    &:hover {
                        color: $clr-white;
                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
