@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// @mixin darkMode{
//     $bg-primary: #111111;
//     $txt-primary: #ffffff;
//     $txt-secondary: #C4C4C4;
// }

// @mixin lightMode{
//     $bg-primary: #ffffff;
//     $txt-primary: #1A1A1A;
//     $txt-secondary: #ffffff;
// }

//colors
$clr-white:#ffffff;
$clr-white1:#C6C6C6;    
$clr-blue:#6CACE4;
$clr-black: #000000;
$clr-black1: #111111;
$clr-black2: #1A1A1A;

$bg-primary: #000000;
$bg-secondary: #111111;
$txt-primary: #ffffff;
$txt-secondary: #C4C4C4;



/* font weight */
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;



/* breakpoints */
$mobile-breakpoint: 767px;
$tablet-breakpoint: 992px;
$desktop-breakpoint: 1024px;
$x-Large-devices-breakpoint: 1200px;
$xl-Large-devices-breakpoint: 1366px;
$xx-Large-devices-breakpoint: 1600px;


$fnt1:"Inter", sans-serif;
$fnt2:"DM Sans", sans-serif;
