// font family
$extra-bold: 'metropolisextra_bold';
$extra-light: 'metropolisextra_light';
$regular:'metropolisregular';


// colors
$primary-color:#0C090A;
$secondary-color:#FFFFF0;
$blueish-color:#063970;
$slate-color:#26282A;