// font family
$extra-bold: 'metropolisextra_bold', sans-serif;
$extra-light: 'metropolisextra_light',sans-serif;
$regular:'metropolisregular',sans-serif;
$medium: 'metropolismedium',sans-serif;
$bold: 'metropolissemi_bold',sans-serif;


// colors
$primary-color:#0C090A;
$secondary-color:#FFFFF0;
$blueish-color:#063970;
$slate-color:#26282A;