@import "variables";
@import "mixins";
@import url(../css/normalize.css);
@import url(../css/font.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    transition: 500ms ease all;
}

body {
    background: #2980b9;
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
    background: linear-gradient(to right, #2c3e50, #2980b9);
    font-family: $regular;
    color: $secondary-color;
}

.pt-100 {
    padding-top: 10rem;
}
.pb-100 {
    padding-bottom: 10rem;
}
.pt-50 {
    padding-top: 5rem;
}
.pb-50 {
    padding-bottom: 5rem;
}
.mt-100 {
    margin-top: 10rem;
}
.mb-100 {
    margin-bottom: 10rem;
}

.mt-50 {
    margin-top: 5rem;
}
.mb-50 {
    margin-bottom: 5rem;
}

.mb-25 {
    margin-bottom: 2.5rem;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1728px;
}

.container-md {
    width: 80%;
    margin: 0 auto;
    max-width: 1536px;
}

img {
    display: block;
    max-width: 100%;
}

.hidden{
    overflow: hidden;
}

.main-heading {
    font-family: $extra-bold;
    color: $secondary-color;
    font-size: 10rem;
    line-height: 130%;
    letter-spacing: 5px;

    @include for-phone-only {
        font-size: 6rem;
        letter-spacing: 1px;
    }
}

.header {
    // padding: 2rem 0;
    .nav {
        transform: translateY(-200%);
        transition: 1s ease all;
        position: fixed;
        top: 0;
        bottom: 0;
        height: 100vh;
        width: 100%;
        background-color: $primary-color;

        @include for-phone-only {
            transform: translateX(200%);
        }

        ul {
            list-style: none;
            font-size: 7.5rem;
            letter-spacing: 1px;
            line-height: 200%;
            text-align: center;
            padding-block: 6.5%;

            @include for-phone-only {
                font-size: 5rem;
                transform: translateY(40%);
            }

            li {
                position: relative;
                a {
                    text-decoration: none;
                    color: $secondary-color;
                    font-family: $extra-bold;

                    &:hover {
                        color: #b8d1e6;
                        animation: none;
                        transition: 1s ease ;
                    }
                }

                &:hover {
                    transition: 5s all ease;
                }
            }
        }
    }

    .nav.active {
        transform: translateY(0%);
        transition: 0.5s ease all;

        @include for-phone-only {
            transform: translateX(0%);
        }
    }

    .btn-wrap {
        display: inline-block;
        width: max-content;
        text-align: right;
        position: relative;
        z-index: 11;
        position: fixed;
        top: 5%;
        right: 5%;
        padding: 1.5rem;

        .close-btn {
            background-color: transparent;
            border: none;
            outline: none;
            text-align: right;
            cursor: pointer;
            position: relative;
            height: 50px;

            // &::after {
            //     content: "";
            //     display: inline-block;
            //     height: 65px;
            //     width: 65px;
            //     background-color: $secondary-color;
            //     top: -8px;
            //     bottom: 0;
            //     position: absolute;
            //     left: -10px;
            //     right: 0;
            //     border-radius: 100%;
            //     z-index: 0;
            //     opacity: 0;
            // }

            // &:hover{
            //     &::after{
            //         opacity: 0.4;
            //     }
            // }

            // &:hover {
            //     .btn-1 {
            //         transform: rotate(-45deg);
            //         position: absolute;g
            //     }

            //     .btn-2 {
            //         display: none;
            //     }

            //     .btn-3 {
            //         transform: rotate(45deg);
            //         // position: absolute;
            //     }
            // }

            .btn {
                display: block;
                height: 5px;
                width: 4.5rem;
                margin-bottom: 8px;
                border-radius: 10px;
                background-color: $secondary-color;

                @include for-phone-only {
                    height: 4px;
                    margin-bottom: 6px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .btn-1,
            .btn-2,
            .btn-3 {
                transform: rotate(0deg);
                position: static;
                transition: 50ms ease all;
            }
        }

        .close-btn.active {
            .btn-1 {
                transform: rotate(-45deg);
                transition: 0.5s ease all;
                position: absolute;
            }

            .btn-2 {
                display: none;
            }

            .btn-3 {
                transform: rotate(45deg);
                transition: 0.5s ease all;
                // position: absolute;
            }
        }
    }
}

.intro-section {
    height: 100vh;
    padding-top: 7%;

    @include for-laptop-up {
        padding-top: 0%;
    }

    @include for-phone-only {
        padding-top: 0;
    }

    .intro-box-wrap {
        @include for-laptop-up {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
            height: 100vh;
        }

        @include for-phone-only {
            gap: 5rem;
        }

        .left-box {
            display: inline-block;
            width: 65%;
            margin-right: -4px;
            vertical-align: middle;

            @include for-laptop-up {
                width: 100%;
                display: block;
                text-align: center;
            }

            @include for-tablet-landscape-up {
                font-size: 6rem;
            }

            h2 {
                font-family: $extra-light;
                color: $secondary-color;
                font-size: 8rem;
                line-height: 180%;

                @include for-phone-only {
                    font-size: 5rem;
                }
            }

            h1 {
                font-family: $extra-bold;
                color: $secondary-color;
                font-size: 16rem;
                line-height: 130%;
                letter-spacing: 5px;
                margin: 0;

                @include for-laptop-up {
                    font-size: 12rem;
                }

                @include for-tablet-landscape-up {
                    font-size: 10rem;
                }

                @include for-phone-only {
                    font-size: 8rem;
                    letter-spacing: 2px;
                }

                @include for-phone-only {
                    font-size: 10rem;
                }
            }
        }

        .right-box {
            display: inline-block;
            width: 35%;
            vertical-align: middle;
            text-align: center;

            @include for-laptop-up {
                width: 100%;
                display: block;
                text-align: center;
            }

            .profile-img_block {
                .profile-img {
                    width: 30rem;
                    border-radius: 100%;
                    margin: 0 auto;

                    @include for-phone-only {
                        width: 20rem;
                    }
                }
            }

            h2 {
                font-family: $regular;
                color: $secondary-color;
                font-size: 3rem;
                line-height: 130%;
                letter-spacing: 1px;
            }
        }
    }
}

.about-section {
    h3 {
        font-family: "metropolismedium";
        font-size: 3.5rem;
        line-height: 180%;

        @include for-phone-only {
            font-size: 2.5rem;
        }
    }

    .about-info {
        p {
            font-size: 2.5rem;
            line-height: 180%;

            @include for-phone-only {
                font-size: 2rem;
            }
        }
    }

    .btn {
        display: inline-block;
        text-decoration: none;
        border: none;
        padding: 1rem 1.5rem;
        font-size: 2.5rem;
        line-height: 150%;
        border-radius: 1.5rem;
        background-color: #097969;
        color: $secondary-color;
        transition: 50ms ease all;

        @include for-phone-only {
            font-size: 2rem;
        }

        i {
            margin-right: 1rem;
        }
        &:hover {
            background-color: #0d9380;
        }
    }
}

.skills-section {
    .skills-icon-wrap {
        text-align: center;

        .skills-icon-box {
            display: inline-block;
            width: 25%;
            margin-right: -2px;

            @include for-tablet-landscape-up {
                width: 30%;
            }

            @include for-phone-only {
                width: 50%;
            }

            .skills-icon {
                i {
                    font-size: 12rem;
                    line-height: 150%;

                    @include for-phone-only {
                        font-size: 10rem;
                    }
                }
            }
            h3 {
                font-size: 3rem;
                line-height: 150%;
                letter-spacing: 2px;
                font-family: $extra-light;

                @include for-phone-only {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

.project-section {
    .project-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 5rem;

        @include for-tablet-landscape-up {
            grid-template-columns: 1fr 1fr;
        }

        @include for-phone-only {
            grid-template-columns: 1fr;
        }

        .project-box {
            .project-img {
                min-height: 30rem;

                img {
                    border-radius: 10px;
                    width: 100%;
                }
            }
            .project-info {
                a {
                    text-decoration: none;
                    color: $secondary-color;
                    .project-name {
                        font-size: 3rem;
                        line-height: 150%;
                        letter-spacing: 2px;
                    }
                }
                .techology-name {
                    @include for-flex;
                    gap: 1rem;

                    button {
                        padding: 1rem;
                        font-size: 1.8rem;
                        line-height: 150%;
                        border: none;
                        border-radius: 8px;
                    }
                }
            }
        }
    }
}

.footer {
    background-color: $slate-color;
    // padding: 4.5rem 0;

    .footer-links {
        display: flex;
        align-items: center;
        justify-content: start;

        .social-icon {
            a {
                display: inline-block;
                padding: 2rem;
            }
            i {
                color: $secondary-color;
                font-size: 5rem;
                // padding: 2rem;
            }

            i.fa-linkedin-in {
                &:hover {
                    color: #0e76a8;
                    // background-color: $secondary-color;
                    // transform: scale(1.2);
                    transition: 0.5s ease;
                }
                border: none;
            }

            i.fa-envelope-open {
                &:hover {
                    color: #c71610;
                    border-radius: 50%;
                    // transform: scale(1.2);
                    transition: 0.5s ease-out;
                }
            }

            i.fa-github {
                &:hover {
                    color: #eae3e3;
                    // transform: scale(1.2);
                    transition: 0.5s ease;
                }
            }
        }
    }

    .copyright-txt {
        text-align: left;
        font-size: 2rem;
        line-height: 200%;
        margin-top: 2rem;
        font-family: $extra-light;
        letter-spacing: 2px;

        @include for-phone-only {
            font-size: 1.8rem;
            padding-top: 2rem;
            border-top: 1px solid $secondary-color;
            text-align: center;
        }
    }
}

.social-side-nav {
    position: fixed;
    left: 0;
    top: 50%;
    .side-icon {
        img {
            display: block;
            width: 5rem;
            margin-bottom: 1rem;
        }
    }
}

@include for-big-desktop-up {
    html {
        font-size: 57.5%;
        scroll-behavior: smooth;
        background-color: red;
    }
}

@include for-normal-desktop-up {
    html {
        font-size: 55.5%;
        scroll-behavior: smooth;
        background-color: blue;
    }
}

@include for-desktop-up {
    html {
        font-size: 53.5%;
        scroll-behavior: smooth;
        background-color: green;
    }
}

@include for-laptop-up {
    html {
        font-size: 55.5%;
        scroll-behavior: smooth;
        background-color: yellow;
    }
}

@include for-tablet-portrait-up {
}

@include for-tablet-landscape-up {
    html {
        font-size: 51%;
        scroll-behavior: smooth;
    }

    .container-md {
        width: 90%;
    }
}

@include for-phone-only {
    html {
        font-size: 50%;
        scroll-behavior: smooth;
    }
}

// .nav li a{
//     @include keyframes(blink) {
//         0% {
//             opacity: 1;
//             font-size: 7.6rem;
//             // transform: translateY(-1%);
//         }
//         50% {
//             opacity: 0.7;
//             font-size: 7.5rem;
//             // transform: translateY(1%);
//         }
//         100% {
//             opacity: 1;
//             font-size: 7.6rem;
//             // transform: translateY(1%);
//         }
//     }
//     @include animate(blink, 2s, ease, infinite);
// }


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
	// border: 2px solid #555555;
}


